<hr>
<%= image_tag "http://placehold.it/800/dcddde/dcddde" %>
<p class="title">Title goes here</p>
<p>
  Mauris commodo aliquam metus, quis fermentum arcu iaculis vel. Phasellus nec leo ac sapien venenatis sceler
</p>
<a href="#" class="button">Continue to action here &raquo;</a>
