---
title: Booth Assessment - Rodney Dennis
---

<div class="hero">
  <div class="hero-body">
    <h1>Main Story Title Goes Here</h1>
    <p>
      Mauris commodo aliquam metus, quis fermentum arcu iaculis vel. Phasellus nec leo ac sapien venenatis scelerisque. Nulla facilisi. Morbi ac tortor nec neque interdum hendrerit a et dolor.
    </p>
    <a href="#" class="button">Continue to action here &raquo;</a>
  </div>
</div>

<div class="main-content">
  <div class="content-block "><%= partial "content_block" %></div>
  <div class="content-block last"><%= partial "content_block" %></div>
</div>
