// settings
@charset "utf-8";
%upcase {
  text-transform: uppercase;
}

// styles
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
}

body {
  @include container(600px);
  color: $color-gray-dark;
  font-family: verdana, helvetica, arial;
  font-size: $font-size;
  height: 100%;

  @include breakpoint($bp-large) {
    margin: $unit auto;
    padding: $unit;
  }
}

img {
  max-width: 100%;
}

.page {
  @include container;
  @include breakpoint($bp-large) {
    border: 2px solid $color-gray-lighter;
    margin-bottom: $unit*2;
    padding: $unit;
  }
}

a {
  color: $color-red;
  text-decoration: underline;
}

header {
  @include container;
  text-align: center;
}

footer {
  color: $color-gray-light;
  padding: $unit;
  text-align: center;

  @include breakpoint($bp-large) {
    padding: $unit 0;
  }
}

.logo {
  padding: $unit*2;
}

.nav-header {
  @extend %upcase;
  display: none;

  @include breakpoint($bp-large) {
    display: block;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    padding: 0 $unit $unit*2;

    a {
      color: $color-gray-dark;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.nav-footer {
  @include container;
  @extend %upcase;
  text-align: center;

  @include breakpoint($bp-large) {
    display: none;
  }

  ul {
    border-top: 1px solid $color-gray-light;
    list-style: none;
    margin: $unit*2;
    padding: 0;
  }

  a {
    border-bottom: 1px solid $color-gray-light;
    color: $color-gray-dark;
    display: block;
    padding: $unit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.program-name {
  @extend %upcase;
  background: $color-gray;
  color: $color-white;
  margin-bottom: $unit;
  padding: $unit/2;
}

.hero {
  @include container;
  background: url('http://placehold.it/1600x900/dcddde/dcddde') no-repeat center center;
  background-size: cover;
  height: 380px;
  text-align: center;
}

.hero-body {
  @include span(full);
  margin-top: 20%;
  padding: 0 $unit;

  @include breakpoint($bp-large) {
    @include span(7 last);
    margin-top: 15%;
    padding: 0 $unit*2.5;
  }

  h1 {
    @extend %upcase;
    font-size: $h1-size;
    font-weight: normal;
    margin: $unit 0;
  }
}

.button {
  @extend %upcase;
  background: $color-gray;
  border: none;
  color: $color-white;
  display: inline-block;
  margin: $unit 0;
  padding: $unit $unit*2;
  text-decoration: none;
}

.main-content {
  @include container;

  @include breakpoint($bp-large) {
    border-top: 1px solid $color-gray-lighter;
    border-bottom: 1px solid $color-gray-lighter;
    margin: $unit*2 0;
    padding: $unit*2 0;
  }
}

.content-block {
  @include span(full);
  padding: 0 $unit*2;
  text-align: center;

  @include breakpoint($bp-large) {
    border-right: 1px solid transparent;
    padding: 0;
    padding-right: $unit;
    width: 50%;
  }

  hr {
    border: none;
    border-bottom: 1px solid $color-gray-lighter;
    margin: $unit*3 $unit*2;

    @include breakpoint($bp-large) {
      display: none;
    }
  }

  p {
    margin: $unit/2 0;
  }

  .button {
    margin-bottom: 0;
  }
}

.content-block.last {
  @include breakpoint($bp-large) {
    border: 0;
    border-left: 1px solid $color-gray-lighter;
    padding: 0;
    padding-left: $unit;
  }
}

.title {
  @extend %upcase;
  font-size: $h3-size;
}

.last {
  @include last;
}

.social-content {
  @include container;
  text-align: center;
}

.social-icons {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
  }

  a {
    background: $color-gray;
    color: $color-white;
    display: block;
    font-size: $h2-size;
    margin-bottom: $unit;
    padding: $unit/2;
    text-decoration: none;
  }
}
